
@using Sohi.Models;

@layout Manage

@inherits CampaignsBase

@page "/Portal/Ads/Facebook/{AccountId}/Create"
@page "/Portal/Ads/Facebook/{AccountId}/Create/Campaigns"



<div class="container mt-5 pt-2" style=" margin-top:5rem;  max-width:1000px; ">

    <div class="row p-2">
        <EditForm Model="@Campaign" OnValidSubmit="HandleValidSubmit">

            <div class="col" style="flex:0;">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>

            <div class="row">

                <div class="row" style="width: 40rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px;">
                    <div class="col px-3 pb-3 pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont">
                                    Campaign Name
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <InputText id="CampaignName" class="form-control"
                                           @bind-Value="Campaign.Name" />
                                <ValidationMessage For="@(() => Campaign.Name)" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-4" style="width: 40rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px;">
                    <div class="col px-3 pb-3 pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont">
                                    Campaign Details
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont" style="font-size:12px;">
                                    Campaign Objective
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="Awareness" class="col-form-label CustomFont" style="font-size:12px; font-weight:400;">
                                            Awareness
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <InputRadioGroup id="Awareness" class="form-control" @bind-Value="Campaign.Objective">

                                            <InputRadio Value="@("BrandAwareness")" /> Brand awareness
                                            <br />
                                            <InputRadio Value="@("Reach")" /> Reach

                                        </InputRadioGroup>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="Consideration" class="col-form-label CustomFont" style="font-size:12px; font-weight:400;">
                                            Consideration
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <InputRadioGroup id="Consideration" class="form-control" @bind-Value="Campaign.Objective">

                                            <InputRadio Value="@("Traffic")" /> Traffic
                                            <br />
                                            <InputRadio Value="@("Engagement")" /> Engagement

                                        </InputRadioGroup>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="Conversion" class="col-form-label CustomFont" style="font-size:12px; font-weight:400;">
                                            Conversion
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <InputRadioGroup id="Conversions" class="form-control" @bind-Value="Campaign.Objective">

                                            <InputRadio Value="@("Conversions")" /> Conversions
                                            <br />
                                            <InputRadio Value="@("CatalogSales")" /> Catalog sales

                                        </InputRadioGroup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-4" style="width: 40rem;">

                    <button type="submit" class="btn btn-primary m-1">Next</button>
                </div>

            </div>

        </EditForm>

    </div>

</div>

@code {

    [CascadingParameter(Name = "SocialProfile")]
    public Profile Profile { get; set; }


    [Parameter]
    public string AccountId { get; set; }
}

<style>
    .valid.modified:not([type=checkbox]) {
        outline: auto #26b050;
    }
</style>
