

@layout InstagramLayout
@inherits InsightsBase

@page "/Portal/Social/Instagram/{PageId}/Insights"

<div class="container-fluid m-0" style="max-width: 732px; min-height: calc(100vh - 100px);">

    <div class="card mt-3">
        <div class="card-header">

            <div class="row">
               
                <div class="col">
                    <div class="row">
                        <div class="" style="color:#1c1e21; font-weight:bold; font-size: 14px;">
                            Filters
                        </div>

                        <div class="">
                            <select class="form-select" @onchange="OnInsightsType">
                                <option selected value="@("Impressions")">Impressions</option>
                                <option value="@("Reach")">Reach</option>
                                <option value="@("Profile_Views")">Profile Views</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="col">
                    <div class="row">
                        <div class="" style="color:#1c1e21; font-weight:bold; font-size: 14px;">
                            Since
                        </div>
                        <div class="">
                            <input class="form-control" type="date" id="since" value="@Since" @onchange="OnSinceChanged">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="" style="color:#1c1e21; font-weight:bold; font-size: 14px;">
                            Until
                        </div>
                        <div class="">
                            <input class="form-control" type="date" id="until" value="@Until" @onchange="OnUntilChanged">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="card mt-3">
        <div class="card-header">

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="" style="color:#1c1e21; font-weight:bold; font-size: 14px;">
                            Insights
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="">

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="card-body p-0">

            <div class="container">
                <div class="row" style="max-width: 732px;">

                    <div class="col" style="text-decoration: none;">
                        <div class="row pt-3">
                            <div class="col text-center">

                                <div class="chart-container" id="chart-container" style="height:350px; width: auto;">

                                    <canvas id="myChart">
                                    </canvas>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
