
@page "/Portal/Settings/Accounts"

@layout Settings
@inherits AccountsBase



<div class="container mt-5 pt-2" style="max-width: 30rem; margin-top:5rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">

    <div class="row ps-5 pe-4">
        <div class="row p-3 px-0">
            <div class="col">
                <div class="" style="color: rgb(61, 61, 61); font-family: Roboto, sans-serif; font-size: 32px; font-weight: 700; line-height: 44px;">
                    Accounts
                </div>
            </div>

            <div class="col me-0" style="flex:0;">
                <a type="button" href="/Portal/Settings/Accounts/Connect" class="btn btn-white btn-lg" style="border: 1px solid rgba(0,0,0,.125); justify-content: center; color: rgb(99, 99, 99);  font-size: 14px; font-weight: 500;">Connect</a>
            </div>
        </div>

        @if (Accounts == null)
        {
            @if (!flag)
            {
                <Loader></Loader>
            }
        }

        else
        {

            <div class="row p-3 pt-1 px-0">
                <div class="col pe-0">

                    @foreach (var account in Accounts)
                    {

                        <div class="row p-2 pt-3 pb-3" style="background-color: white; border-bottom: 1px solid rgba(0,0,0,.125);">
                            <div class="col" style="flex:0; padding-left:0;">
                                <img src="@account.Image" height="35" width="35" class="rounded-circle" />
                            </div>
                            <div class="col ps-0">
                                <div class="row">
                                    <div class="" style="color:black; font-weight:600; font-size: 15px; line-height: 1.2;">
                                        @account.Name
                                    </div>
                                    <div class="" style="font-size: 12px; font-weight: 500; color:rgba(40,43,49,.7);">
                                        @account.Type
                                    </div>
                                </div>

                            </div>

                            <div class="col p-0" style="flex:0;">
                                <span class="oi oi-check" style="top: -3px; font-size:0.8rem;"></span>
                            </div>
                            <div class="col me-0 pe-0" style="flex:0.5; padding-left:1%;">
                                <div class="row">
                                    <div class="" style="color:black; font-weight:600; font-size: 15px; line-height: 1.2;">
                                        Connected

                                    </div>
                                    <div class="" style="font-size: 12px; font-weight: 500; color:rgba(40,43,49,.7);">
                                        <a type="button" @onclick="() => DeleteAccount(account.Id)" style="text-decoration:none;">(disconnect)</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

        }
    </div>
</div>



@*<div class="container pt-5" style="max-width: 30rem; ">
        <div class="row p-3">
            <div class="col">
                <div class="" style="color: rgb(61, 61, 61); font-family: Roboto, sans-serif; font-size: 32px; font-weight: 700; line-height: 44px;">
                    Accounts
                </div>
            </div>

            <div class="col me-0" style="flex:0;">
                <a type="button" href="/Portal/Settings/Accounts/Connect" class="btn btn-white btn-lg" style="border: 1px solid rgba(0,0,0,.125); justify-content: center; color: rgb(99, 99, 99);  font-size: 14px; font-weight: 500;">Connect</a>
            </div>
        </div>

        <div class="row p-3">
            <div class="col">

                @foreach (var account in Accounts)
                {
                    <div class="row p-2" style="background-color: white; border:1px solid #dee2e6 !important">
                        <div class="col" style="flex:0;">
                            <img src="@account.Image" height="35" width="35" class="rounded-circle" />
                        </div>
                        <div class="col ps-0">
                            <div class="row">
                                <div class="" style="color:black; font-weight:600; font-size: 15px; line-height: 1.2;">
                                    @account.Name
                                </div>
                                <div class="" style="font-size: 12px; font-weight: 500; color:rgba(40,43,49,.7);">
                                    @account.Type
                                </div>
                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>*@



