
@using Sohi.Models;

            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav">

                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="@($"Portal/Social/Facebook/{Profile.Id}")" Match="NavLinkMatch.All">
                            Queue
                        </NavLink>
                    </li>
                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="@($"Portal/Social/Facebook/{Profile.Id}/Posts")">
                            Posts
                        </NavLink>
                    </li>
                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="@($"Portal/Social/Facebook/{Profile.Id}/Insights")">
                            Analytics
                        </NavLink>
                    </li>

                    @*<li class="nav-item px-0">
                        <NavLink class="nav-link" href="@($"Portal/Social/Facebook/{Profile.Id}/Settings")">
                            Settings
                        </NavLink>
                    </li>*@

                </ul>
            </div>

       


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [CascadingParameter(Name = "SocialProfile")]
    public Profile Profile { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override void OnParametersSet()
    {
        Id = Profile.Id;
    }
}
