
@*@page "/Portal/Social/Facebook/{Id}"*@

@inherits FacebookLayoutBase

@layout SocialLayout


@*@if (FacebookProfile == null)
{

    if (!flag)
    {
        <div class="top-row">

        </div>
        <div class="conatiner pt-5">
            <div class="row text-center">
                <div class="col-md-12 p-3 header">
                    Connect a Facebook account
                </div>
            </div>
            <div class="row d-flex justify-content-center pt-4">
                <a class="col-md-2 btn" style="border:1px solid #d6d5d5;" @onclick="ConnectFacebook">
                    <div class="ConnectBox">
                        <div class="InsideConnectBox">
                            <img src="/images/Fb.png" class="rounded-circle" width="35" height="35" />
                            <h5 class="btnConnect">Facebook</h5>
                            <span>Page</span>
                            <span>Connect</span>


                        </div>
                    </div>
                </a>
            </div>

        </div>
    }
    else
    {
        <div class="spinner"></div>

    }
}


else
{*@
    @*<div class="spinner"></div>*@

    <div class="page">
        <div class="main">

            <div class="top-row">
                <FacebookMenu Id="@Id"/>
                @*<ul class="nav ms-auto me-2">

            <li class="nav-item px-0">
                <select class="form-select" value="@FacebookProfile[0].Id" @onchange="@OnPageSelection">
                    @foreach (var profile in FacebookProfile)
                    {
                        <option value="@profile.Id"><img src="@profile.Image" height="50" width="50" class="rounded-circle" />@profile.Name</option>
                    }
                </select>
            </li>

        </ul>*@
            </div>

                @*<CascadingValue Value="PageToken" Name="PageToken">*@
                   
                    <div class="container-fluid px-0">
                        @Body
                    </div>
                @*</CascadingValue>*@
        </div>
    </div>
@*}*@
