@inherits DisplayLeadBase

<tr>
    <td><a href="@($"Portal/Leads/LeadDetails/{Lead.LeadId}")">@Lead.FullName</a></td>
    <td>@Lead.Email</td>
    <td>@Lead.PrimaryPhone</td>
    <td>@Lead.Gender</td>
    <td>@Lead.LeadSource</td>
    <td>@Lead.CreatedOn</td>
    <td><a href="@($"Portal/Leads/EditLead/{Lead.LeadId}")" class="btn btn-primary m-1">Edit</a>
    <button class="btn btn-danger m-1" type="button" @onclick="Delete_Click">Delete</button></td>
</tr>

<Confirm @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click"
         ConfirmationMessage=@($"Are you sure you want to delete \"{Lead.FirstName}\"")>
</Confirm>