@page "/Portal/Leads/LeadList"
@inherits LeadListBase


<h3>Leads</h3>

@if (Leads == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row">
        <div class="col  mt-10 mb-10">
            <a class="btn btn-primary" asp-controller="Leads" asp-action="Create">
                Create
            </a>
        </div>
    </div>

    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Lead Source</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lead in Leads)
            {
                <tr>
                    <td><a asp-controller="Leads" asp-action="Details" asp-route-id="@lead.LeadId">@lead.FullName</a></td>
                    <td>@lead.Email</td>
                    <td>@lead.PrimaryPhone</td>
                    <td>@lead.DateOfBirth</td>
                    <td>@lead.Gender</td>
                    <td>@lead.LeadSource</td>
                    <td>@lead.CreatedOn</td>
                </tr>
            }
        </tbody>
    </table>
}