

@inherits LocationBase
<div class="mt-2" style="border: 1px solid #dadde1;">
    @if (SelectedLocation != null && SelectedLocation.Count != 0)
    {
        @foreach (var item in SelectedLocation)
        {

            <div class="row ms-3 me-3 p-2 pt-3 pb-3" style="background-color: white; border-bottom: 1px solid rgba(0,0,0,.125);">
                <div class="col" style="flex:0; padding-left:0;">
                    <span class="oi oi-map-marker text-success"></span>
                </div>
                <div class="col ps-0">
                    <div class="row">
                        <div class="" style="color:black; font-weight:600; font-size: 15px; line-height: 1.2;">
                            @item.Name @item.Region @item.CountryName
                        </div>
                        <div class="" style="font-size: 12px; font-weight: 500; color:rgba(40,43,49,.7);">
                            @item.Type
                        </div>
                    </div>

                </div>

                @if (item.Type == "city")
                {

                    <div class="col ps-0">

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                + @Radius mi
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">+ 10 mi</a></li>
                                <li><a class="dropdown-item" href="#">+ 11 mi</a></li>
                                <li><a class="dropdown-item" href="#">+ 12 mi</a></li>
                            </ul>
                        </div>

                        @*<InputSelect id="radius" class="form-select"
                                     @bind-Value="Radius">
                            <option value="10">+ 10 mi</option>
                            <option value="11">+ 11 mi</option>
                            <option value="12">+ 12 mi</option>
                            <option value="13">+ 13 mi</option>
                            <option value="25">+ 25 mi</option>
                        </InputSelect>*@
                    </div>
                }

                <div class="col p-0" style="flex:0;">
                    <span class="oi oi-check text-success" style="top: -3px; font-size:0.8rem;"></span>
                </div>
                <div class="col me-0 pe-0" style="flex:0.5; padding-left:1%;">
                    <div class="row">
                        <div class="" style="color:black; font-weight:600; font-size: 15px; line-height: 1.2;">
                            Included
                        </div>
                        <div class="" style="font-size: 12px; font-weight: 500; color:rgba(40,43,49,.7);">
                            <a type="button" @onclick="() => DeleteSelectedLocation(item)" style="text-decoration:none;">(Remove)</a>
                        </div>
                    </div>
                </div>

            </div>


            @*<div class="pt-2 pb-2" style="background-color: rgba(0, 0, 0, .05);">
                    <div class="col px-4">

                        <label class="col-form-label CustomFont" style="font-size:16px; font-weight:400;">
                            @item.CountryName
                        </label>

                        <div class="">
                            <div class="col form-control" style="background-color: #fff;">

                                <div class="input-group">
                                    <span class="oi oi-map-marker text-success"></span>
                                    @item.Name

                                    <span class="input-group-text" @onclick="() => DeleteSelectedLocation(item)" style="border:none; border-bottom: 1px solid #ced4da;"><span class="oi oi-x"></span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>*@
        }
    }

    <div class="row">
        <div class="col">
            <div class="input-group">
                <span class="input-group-text" style="border:none; border-bottom: 1px solid #ced4da;"><span class="oi oi-magnifying-glass"></span></span>

                <input type="text" class="form-control" @bind-value="SearchText" @bind-value:event="oninput" autocomplete="off" autocorrect="off" aria-autocomplete="list" style="border:none; border-bottom: 1px solid #ced4da;"
                       placeholder="Search Locations" @onkeyup="@HandleKeyUp" />


            </div>
        </div>
    </div>

    @if (facebookLocation != null && facebookLocation.Count != 0)
    {

        <div class="row pt-0" style="padding-left: 2.65rem !important;">
            <div class="col">
                <div class="Search-List">
                    @foreach (var location in facebookLocation)
                    {
                        <div class="row Search-List-Data" @onclick="() => LocationSelected(location)">
                            <div class="col">
                                <a>
                                    <span>
                                        @location.Name
                                    </span>

                                    @if (location.Region != null)
                                    {
                                        <span>
                                            , @location.Region
                                        </span>
                                    }

                                    @if (location.CountryName != null)
                                    {
                                        <span>
                                            , @location.CountryName
                                        </span>
                                    }
                                </a>
                            </div>

                            <div class="col f-0">
                                @location.Type.First().ToString().ToUpper()@location.Type.Substring(1)
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>


    }

    <div class="row">
        <div class="col">
            <div class="input-group" style="height:4rem;">


            </div>
        </div>
    </div>

</div>

<style>
    .Search-List {
        background-color: #fff;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        padding-left: 12px;
        padding-right: 12px;
        font-family: Roboto, Arial, sans-serif;
        font-size: 0.75rem;
        line-height: 1.33333;
        letter-spacing: normal;
        overflow-wrap: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.85);
        border: 1px solid #ced4da;
    }
    .Search-List-Data {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        @*.Search-List-Data a:first-child {
            border-bottom: none;
        }
        .Search-List-Data a:last-child {
            border-bottom: none;
        }*@

        .Search-List-Data a:first-of-type {
            border-bottom: none;
        }

        .Search-List-Data a:last-of-type {
            border-bottom: none;
        }

        .Search-List-Data:hover {
            background-color: #d4d4d4;
        }
</style>
