

@inherits NewAdsetBase


<div class="container mt-0 pt-2" style=" margin-top:5rem;  max-width:1000px; ">

    <div class="row p-2">
        <EditForm Model="@Adset" OnValidSubmit="HandleValidSubmit">

            <div class="col" style="flex:0;">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@
            </div>

            <div class="row">

                <div class="row" style="width: 40rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px;">
                    <div class="col px-3 pb-3 pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="AdsetName" class="col-form-label CustomFont" style="font-size:16px; font-weight:600;">
                                    Ad Set Name
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <InputText id="AdsetName" class="form-control"
                                           @bind-Value="Adset.Name" />
                                <ValidationMessage For="@(() => Adset.Name)" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-4" style="width: 40rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px;">
                    <div class="col px-3 pb-3 pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="TrafficName" class="col-form-label CustomFont" style="font-size:16px; font-weight:600;">
                                    Traffic
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="col-form-label CustomFont" style="font-size:12px; font-weight:400;">
                                            Choose where you want to drive traffic. You'll enter more details about the destination later.
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <InputRadioGroup Name="DestinationType" class="form-control" @bind-Value="Adset.destination_type">

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <InputRadio Name="DestinationType" checked="checked" class="Radio" Value="@("WEBSITE")" />

                                                    <label class="CampaignFonts">
                                                        Website
                                                    </label>
                                                </div>
                                            </div>

                                        </InputRadioGroup>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="row mt-4" style="width: 40rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px;">
                    <div class="col px-3 pb-3 pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont" style="font-size:16px; font-weight:600;">
                                    Budget & Schedule
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont" style="font-size:13px; font-weight:600;">
                                    Budget
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <InputSelect id="Budget" class="form-select"
                                             @bind-Value="Adset.Budget">
                                    <option value="@("daily_budget")">Daily Budget</option>
                                    <option value="@("lifetime_budget")">Lifetime Budget</option>
                                </InputSelect>
                                <ValidationMessage For="@(() => Adset.Budget)" />
                            </div>
                            <div class="col-md-6">


                                <div class="input-group">
                                    <span class="input-group-text">$</span>


                                    <InputNumber id="BudgetAmount" class="form-control" aria-label="Amount (to the nearest dollar)"
                                                 @bind-Value="Adset.DailyBudget">
                                    </InputNumber>

                                </div>


                                <ValidationMessage For="@(() => Adset.DailyBudget)" />
                            </div>
                        </div>

                        <div class="row pt-2">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont pb-0" style="font-size:13px; font-weight:600;">
                                    Schedule
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont" style="font-size:11px;">
                                    Start Date
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col f-0">
                                <InputDate id="StartDate" class="form-control w-auto" minDate="@DateTime.Now"
                                           @bind-Value="Adset.StartDate" />
                                <ValidationMessage For="@(() => Adset.StartDate)" />
                                
                            </div>
                            <div class="col">
                                <input type="time" class="form-control w-auto" @bind-value="Adset.StartTime" required>
                            </div>
                        </div>

                        <div class="row pt-3 pb-0">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont" style="font-size:11px;">
                                    End (Optional)
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <input type="checkbox" class="Checkbox" @bind="Adset.ScheduleEndDate">


                                <label class="CampaignFonts">
                                    Set an end date
                                </label>

                            </div>
                        </div>

                        @if (Adset.ScheduleEndDate)
                        {
                            <div class="row pt-2">
                                <div class="col f-0">
                                    <InputDate id="EndDate" class="form-control w-auto"
                                               @bind-Value="Adset.EndDate" />
                                    <ValidationMessage For="@(() => Adset.EndDate)" />
                                </div>
                                <div class="col">
                                    <input type="time" class="form-control w-auto" @bind-value="Adset.EndTime">
                                </div>
                            </div>
                        }
                    </div>

                </div>


                <div class="row mt-4" style="width: 40rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px;">
                    <div class="col px-3 pb-3 pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="AudienceName" class="col-form-label CustomFont" style="font-size:16px; font-weight:600;">
                                    Audience
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="col-form-label CustomFont" style="font-size:12px; font-weight:400;">
                                            Define who you want to see your ads.
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="CampaignName" class="col-form-label CustomFont" style="font-size:13px; font-weight:600;">
                                            Locations
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <InputSelect id="MinAge" class="form-select"
                                                     @bind-Value="Adset.LocationType">
                                            <option value="@("RecentHome")">People living in or recently in this location</option>
                                            <option value="@("home")">People living in this location</option>
                                            <option value="@("recent")">People recently in this location</option>
                                            <option value="@("travel_in")">People traveling in this location</option>
                                        </InputSelect>
                                        <ValidationMessage For="@(() => Adset.LocationType)" />
                                    </div>
                                </div>

                                <Location location="@Adset.Location" OnLocationSelection="LocationSelectionChanged"></Location>




                                <div class="row pt-5">
                                    <div class="col-md-12">
                                        <label for="CampaignName" class="col-form-label CustomFont" style="font-size:13px; font-weight:600;">
                                            Age
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="flex:0.2">
                                        <InputSelect id="MinAge" class="form-select"
                                                     @bind-Value="Adset.MinAge">
                                            <option selected>18</option>
                                            <option>19</option>
                                        </InputSelect>
                                        <ValidationMessage For="@(() => Adset.MinAge)" />
                                    </div>
                                    <div class="col" style="flex:0.2">
                                        <InputSelect id="MaxAge" class="form-select"
                                                     @bind-Value="Adset.MaxAge">
                                            <option value="64">64</option>
                                            <option value="65">65+</option>
                                        </InputSelect>
                                        <ValidationMessage For="@(() => Adset.MaxAge)" />
                                    </div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <label for="CampaignName" class="col-form-label CustomFont" style="font-size:13px; font-weight:600;">
                                            Gender
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <InputRadioGroup Name="Gender" class="form-control" @bind-Value="Adset.Gender">

                                            <div class="row">
                                                <div class="col">
                                                    <InputRadio class="Radio" Name="Gender" selected Value="@("All")" />
                                                    <label class="CampaignFonts">
                                                        All
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <InputRadio class="Radio" Name="Gender" Value="@("1")" />
                                                    <label class="CampaignFonts">
                                                        Men
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <InputRadio class="Radio" Name="Gender" Value="@("2")" />
                                                    <label class="CampaignFonts">
                                                        Women
                                                    </label>
                                                </div>
                                            </div>

                                        </InputRadioGroup>
                                    </div>
                                </div>

                                <div class="row pt-3">
                                    <div class="col-md-12">
                                        <label for="CampaignName" class="col-form-label CustomFont" style="font-size:13px; font-weight:600;">
                                            Detailed Targeting
                                        </label>
                                    </div>
                                </div>

                                <DetailedTargeting AccountId="@AccountId" OnDetailedTargetingSelection="DetailedTargetingSelectionChanged" location="@Adset.Location"></DetailedTargeting>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-4" style="width: 40rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px;">
                    <div class="col px-3 pb-3 pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-form-label CustomFont" style="font-size:16px; font-weight:600;">
                                    Placements
                                </label>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-12">
                                <InputRadioGroup Name="Placements" class="form-control" @bind-Value="Adset.Placements">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <InputRadio Name="Placements" class="Radio" checked="checked" Value="@("Auto")" />

                                            <label class="CampaignFonts">
                                                Automatic Placements (Recommended)
                                            </label>

                                        </div>
                                    </div>

                                    @*<div class="row">
                                        <div class="col-md-12 pt-3">

                                            <InputRadio Name="Placements" class="Radio" Value="@("Manual")" />

                                            <label class="CampaignFonts">
                                                Manual Placements
                                            </label>
                                        </div>
                                    </div>*@

                                </InputRadioGroup>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-4" style="width: 40rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px;">
                    <div class="col px-3 pb-3 pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-form-label CustomFont" style="font-size:16px; font-weight:600;">
                                    Optimization & Delivery
                                </label>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont" style="font-size:13px; font-weight:600;">
                                    Optimization for Ad Delivery
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <InputSelect id="BillingEvents" class="form-select"
                                             @bind-Value="Adset.BillingEvents">
                                    <option value="@("LINK_CLICKS")">Link Clicks</option>
                                    <option value="@("IMPRESSIONS")">Impressions</option>
                                </InputSelect>
                                <ValidationMessage For="@(() => Adset.BillingEvents)" />
                            </div>
                        </div>


                        <div class="row pt-3">
                            <div class="col-md-12">
                                <label for="CampaignName" class="col-form-label CustomFont" style="font-size:13px; font-weight:600;">
                                    Cost Control (optional)
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <InputNumber id="CostControl" class="form-control"
                                             @bind-Value="Adset.CostControl" />
                                <ValidationMessage For="@(() => Adset.CostControl)" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-4" style="width: 40rem;">

                    <div class="col ms-auto f-0">
                        <button type="submit" class="btn btn-primary m-1">Next</button>
                    </div>
                </div>

            </div>

        </EditForm>

    </div>

</div>